html, body {
  font-size: 8px;
}

body {
  margin: 0;
  padding: 0;
  padding: 100px 50px 100px 200px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
  color: white;
  -webkit-app-region: drag;
}


h1 {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 2rem
}
h2 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 2rem
}
h3 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 2rem
}
h4 {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 2rem
}
h5 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem
}
h6 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 2rem
}

p {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

span {
  font-size: 2rem;
}

ul {
  font-size: 2rem;
}

li {
  font-size: 2rem;
}

button {
  transition: all 200ms;
  background: none;
  padding: 2rem 3rem;
  border: solid 1px #222;
  color: #333;
  background: white;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: gold;
}

button:focus {
  background: gold;
}

pre {
  font-size: 14px;
  font-weight: 600;
  background: rgba(0,0,0, 0.2);
  padding: 20px;
  color: #a2a2a2;
  overflow: auto;
  border-radius: 8px
}

hr {
  padding: 0;
  margin: 6rem 0;
  opacity: 0.6;
  border: none;
  border-bottom: solid 1px black
}


